.layout {
	margin-top: 50px;
	/* This is the height of the nav */
	display: grid;
	grid-template-columns: 200px 1fr 1fr;
	gap: 10px;
	grid-template-rows: auto 1fr 1fr;
	grid-template-areas:
		"header subnav subnav"
		"sidebar main main"
		"sidebar main main"
	;
}

.sidebar {
	grid-area: sidebar;
}

.header {
	grid-area: header;
}

.subnav {
	grid-area: subnav;
}
